# GATEWAY SERVICE
GATEWAY_APP_NAME=wise-task-gateway
GATEWAY_PORT=8084
GATEWAY_LOGGING_LEVEL=INFO
CORS_ALLOWED_ORIGINS=https://wisetask.ru,http://wisetask.ru,http://localhost:5173,http://localhost:3000,http://localhost:3150
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOWED_CREDENTIALS=true
CORS_MAX_AGE=3600
JWT_ACCESS_EXPIRES_AT=1h
JWT_REFRESH_EXPIRES_AT=7d

# PROFILE SERVICE
PROFILE_APP_NAME=wise-task-profile
PROFILE_LOGGING_LEVEL=INFO
PROFILE_GRPC_PORT=6567
PROFILE_DB=wise_task_profile
PROFILE_DB_USER=wise_task_profile
PROFILE_DB_PASSWORD=wise_task_profile
SMTP_HOST=smtp-server
SMTP_PORT=25
SMTP_RELAYHOST_USERNAME=some.ru@some.ru
SMTP_RELAYHOST_PASSWORD=password
SMTP_DOMAIN=google.ru

# TASK SERVICE
TASK_APP_NAME=wise-task-task
TASK_LOGGING_LEVEL=INFO
TASK_GRPC_PORT=6568
TASK_DB=wise_task_task
TASK_DB_USER=wise_task_task
TASK_DB_PASSWORD=wise_task_task

# PLUGIN SERVICE
PLUGIN_APP_NAME=wise-task-plugin
PLUGIN_GRPC_PORT=6566
PLUGIN_LOGGING_LEVEL=INFO
PLUGIN_DB=wise_task_plugin
PLUGIN_DB_USER=wise_task_plugin
PLUGIN_DB_PASSWORD=wise_task_plugin
PLUGIN_PATH=./plugins/
PLUGIN_VALIDATION_LIMIT=300s

# GRAPH SERVICE
GRAPH_APP_NAME=wise-task-graph
GRAPH_GRPC_PORT=6565
GRAPH_LOGGING_LEVEL=INFO
GRAPH_DB=wise_task_graph

# EVENT SERVICE
EVENT_APP_NAME=wise-task-event
EVENT_GRPC_PORT=6569
EVENT_PORT=8085
EVENT_DB_USER=wise_task_event
EVENT_DB_PASSWORD=wise_task_event
EVENT_LOGGING_LEVEL=INFO
EVENT_DB=wise_task_event
CACHE_SPEC=initialCapacity=100,maximumSize=1000,expireAfterAccess=30s
TIME_TO_LIVE_SECONDS=100


# OBSERVABILITY
LOKI_HOST=loki
LOKI_PORT=3100
TEMPO_HOST=tempo
TEMPO_PORT=4318
PROMETHEUS_HOST=prometheus
PROMETHEUS_PORT=9090

# DB
DB_PASSWORD=wise-task
DB_USER=wise-task
DB=wise-task-db
DB_PORT=5432
EVENT_DB_APP_NAME=wise-task-event-db
EVENT_DB_PORT=5433
MONGO_DB=wise-task-mongo
MONGO_PORT=27017
MONGO_DB=wise_task_graph


